<div class="wrapper" dragula="COLUMNS" [(dragulaModel)]="groups">
  <div class="project">
  <div class="project-info"><h1>Task Management</h1><div class="project-participants"><button class="project-participants__add" data-bs-toggle="modal"
    data-bs-target="#TaskModal">Add Participant</button></div></div>
  <div class="justify-content-center">
    <p-avatarGroup styleClass="mb-3">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="large" shape="circle"></p-avatar>
        <p-avatar label="+2" shape="circle" size="large" [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar>
    </p-avatarGroup>
</div>
    <div class="project-tasks">
      <div class="project-column" *ngFor="let group of groups">
        <div class='project-column-heading' [ngStyle]="taskBorder(group?.name)">
          <h2 class='project-column-heading__title'>{{group?.name}}</h2><button class='project-column-heading__options'><i class="ri-more-fill"></i></button>
        </div>

        <div dragula="ITEMS" [(dragulaModel)]="group.items">
          <ng-container *ngIf="group.items.length > 0; else elseBlock">
            <div *ngFor="let item of group.items">
              <div [ngClass]="item?.taskDesc ? 'task' : 'removeEmptyCard'">
                <div class="task__tags"><span class="task__tag task__tag--copyright" [ngStyle]="taskTypes(item?.taskType)">{{item?.taskType}}</span><button
                    class="task__options"><i class="ri-more-fill"></i></button></div>
                    <label><b>{{item?.taskTitle}}</b></label>
                <p style="margin-top: 8px;">{{item?.taskDesc}}</p>
                <div class="task__stats"><span>
                    <time class="d-flex"><i class="ri-calendar-2-line ri-1x icon-padding"></i>{{item?.taskDate}}</time></span>
                  <p-avatarGroup *ngFor="let data of item?.avatarName">
                    <p-avatar size="small" shape="circle">{{data}}</p-avatar>
                    <!-- <p-avatar [label]="data" shape="circle" size="large" [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"></p-avatar> -->
                </p-avatarGroup>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #elseBlock>
            <div class="emptyCard"></div>
          </ng-template>
        </div>
        
      </div>
    </div>
  </div>
  <aside class='task-details'>
    <div class="form">
      <i class="ri-search-line icon"></i>
      <input type="text" (keyup)="applyFilter($event)" class="form-control form-input" placeholder="{{'HEADER.Search_placeholder' | translate}}">
  </div>
    <div class="form-group mt-2">
      <div class="title_Name">
        <label for="text">Select Project</label>
      </div>
        <p-dropdown [options]="projectList" [(ngModel)]="selectProjectItem" (onChange)="selectProjectFilter($event)" placeholder="Select Task Project" optionLabel="projectName"></p-dropdown>
    </div>
    <div class='tag-progress'>
      <h2>Task Progress</h2>
      <div class='tag-progress'>
        <p>Task Ready<span>{{taskListTaskReadyLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--taskReady" [max]="taskListLength" [value]="taskListTaskReadyLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>In Progress<span>{{taskListInProgressLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--design" [max]="taskListLength" [value]="taskListInProgressLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>Testing <span>{{taskListTestingLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--copyright" [max]="taskListLength" [value]="taskListTestingLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>Done <span>{{taskListDoneLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--illustration" [max]="taskListLength" [value]="taskListDoneLength"></progress>
      </div>
    </div>
    <div class='task-activity'>
      <h2>Recent Activity</h2>
      <ul>
        <li>
          <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
          <b>Andrea </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 10</time>
        </li>
          <li>
              <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
          <b>Karen </b> left a comment
          <time datetime="2021-11-24T20:00:00">Aug 10</time>
        </li>
         <li>
             <span class='task-icon task-icon--edit'><i class="fas fa-pencil-alt"></i></span>
          <b>Karen </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 11</time>
        </li>
          <li>
              <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
          <b>Andrea </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 11</time>
        </li>
         <li>
             <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
          <b>Karen </b> left a comment
          <time datetime="2021-11-24T20:00:00">Aug 12</time>
        </li>
      </ul>
    </div>
  </aside>
</div>

   <!-- Modal TaskModal -->
   <div class="modal fade" id="TaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isEdit">Add Task</h5>
               <h5 class="modal-title" id="staticBackdropLabel" *ngIf="isEdit">Edit Task</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body p-0">
               <!-- ... add code ..  -->
               <form [formGroup]="taskForm">
                 <div class="row m-2">
                   <div class="col-6">
                     <div class="form-group m-2">
                       <label for="text">Task Name</label>
                       <input type="text" class="form-control" placeholder="Enter Task Name" formControlName="taskName">
                     </div>
                     <div class="form-group m-2">
                       <label for="text">Task Description</label>
                       <textarea name="Task Description" class="form-control" id="" cols="30" rows="7" formControlName="taskDescription"></textarea>
                     </div>
                   </div>
                   <div class="col-6">
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Task Type</label>
                       </div>
                       <div class="dropdwon">
                         <p-dropdown placeholder="Select Task Type"  [options]="taskTypeList" optionLabel="taskName" formControlName="taskType"></p-dropdown>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Task Project</label>
                       </div>
                       <div class="dropdwon">
                         <p-dropdown [options]="projectList" (onChange)="selectProject($event)" placeholder="Select Task Project" optionLabel="projectName" formControlName="taskProject"></p-dropdown>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Task Employee</label>
                       </div>
                       <div class="dropdwon">
                         <p-multiSelect [options]="employeeList" placeholder="Select Task Employee" formControlName="taskEmployee"
                         optionLabel="emaployeeName"></p-multiSelect>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Task Date</label>
                       </div>
                       <div class="dropdwon">
                         <p-calendar [style]="{'width':'100%'}" [showIcon]="true" formControlName="taskDate"></p-calendar>
                       </div>
                     </div>
                   </div>
                 </div>
               </form>
                   <div class="modal-footer">                        
                           <ng-container *ngIf="!isEdit">
                               <button data-bs-dismiss="modal" aria-label="Close"  
                                   type="submit" (click)="submit()" class="btn btn-secondary submit">Submit</button>
                           </ng-container>
                           <ng-container *ngIf="isEdit">
                               <button data-bs-dismiss="modal" aria-label="Close"
                                   type="submit" (click)="submit()" class="btn btn-secondary submit">Update</button>
                           </ng-container>
                   </div>
               <!-- ... add code ..  -->
           </div>
       </div>
   </div>
</div>