<div class="wrapper" dragula="COLUMNS" [(dragulaModel)]="groups">
  <div class="project">
  <div class="project-info"><h1>{{getProjectName}}</h1><div class="project-participants"><button class="project-participants__add" data-bs-toggle="modal"
    data-bs-target="#TaskModal" (click)="addTask()">Add Participant</button></div></div>
    <div class="justify-content-center">
      <p-avatarGroup styleClass="mb-3">
          <ng-container *ngFor="let data of employeeAvtars; let i = index">
            <p-avatar size="large" shape="circle" [style]="{'background-color': generateColor(data), 'font-weight' : 700, 'cursor' : 'pointer'}" [class.active]="selectedIndex == i"  (click)="onAvatarChange(data,i)">{{data?.toUpperCase()}}</p-avatar>
          </ng-container>
      </p-avatarGroup>
    </div>
    <div class="project-tasks">
      <div class="project-column" *ngFor="let group of groups">
        <div class='project-column-heading' [ngStyle]="taskBorder(group?.name)">
          <h2 class='project-column-heading__title'>{{group?.name}}</h2><button class='project-column-heading__options'><i class="ri-more-fill"></i></button>
        </div>

        <div dragula="ITEMS" [(dragulaModel)]="group.items">
          <ng-container *ngIf="group.items.length > 0; else elseBlock">
            <div *ngFor="let item of group.items">
              <div [ngClass]="item?.taskDesc ? 'task' : 'removeEmptyCard'">
                <div class="task__tags"><span class="show-taskNumber"><img [src]="item?.taskPriority?.img" width="10%" style="padding-right: 10px;" alt="">{{item.taskNumber}}</span>
                  <div class="dropdown">
                    <button class="task__options" id="dropdownMenuButton1" data-bs-toggle="dropdown" >
                      <i class="ri-more-fill"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li (click)="viewData(item)"><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#viewTask"><i class="ri-eye-line"></i>View</a></li>
                      <li (click)="editData(item)" data-bs-toggle="modal" data-bs-target="#TaskModal"><a class="dropdown-item"><i class="ri-edit-box-line"></i>Edit</a></li>
                      <li (click)="deleteData(item)"><a class="dropdown-item"><i class="ri-delete-bin-line"></i>Delete</a></li>
                    </ul>
                  </div>
                </div>
                    <label class="taskTitle"><b>{{item?.taskTitle}}</b></label>
                <p style="margin-top: 8px;" class="taskDesc">{{item?.taskDesc}}</p>
                <div class="task__stats"><span>
                    <!-- <time class="d-flex"><i class="ri-calendar-2-line ri-1x icon-padding"></i>{{item?.taskDate}}</time> -->
                    <span class="task__tag task__tag--copyright" [ngStyle]="taskTypes(item?.taskType)">{{item?.taskType}}</span>
                  </span>
                    <p-avatarGroup styleClass="mb-3">
                      <ng-container *ngFor="let data of item?.avatarName">
                        <p-avatar size="small" shape="circle" [style]="{'background-color': generateColor(data)}">{{data?.toUpperCase()}}</p-avatar>
                      </ng-container>
                    </p-avatarGroup>
                </div>
                <div class="endDate">
                  <span>End Date : {{item.taskEndDate === 'Invalid date' ? '---' : item.taskEndDate}}</span>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #elseBlock>
            <div class="emptyCard"></div>
          </ng-template>
        </div>
        
      </div>
    </div>
  </div>
  <aside class='task-details'>
    <!-- <div class="form">
      <i class="ri-search-line icon"></i>
      <input type="text" (keyup)="applyFilter($event)" class="form-control form-input" placeholder="{{'HEADER.Search_placeholder' | translate}}">
  </div> -->
    <div class="form-group mt-2">
      <div class="title_Name">
        <label for="text">Select Project</label>
      </div>
        <p-dropdown [options]="projectList" [(ngModel)]="selectProjectItem" (onChange)="selectProjectFilter($event)" placeholder="Select Task Project" optionLabel="projectName"></p-dropdown>
    </div>
    <div class='tag-progress'>
      <h2>Task Progress</h2>
      <div class='tag-progress'>
        <p>Task Ready<span>{{taskListTaskReadyLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--taskReady" [max]="taskListLength" [value]="taskListTaskReadyLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>In Progress<span>{{taskListInProgressLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--design" [max]="taskListLength" [value]="taskListInProgressLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>Testing <span>{{taskListTestingLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--copyright" [max]="taskListLength" [value]="taskListTestingLength"></progress>
      </div>
      <div class='tag-progress'>
        <p>Done <span>{{taskListDoneLength}}/{{taskListLength}}</span></p>
        <progress class="progress progress--illustration" [max]="taskListLength" [value]="taskListDoneLength"></progress>
      </div>
    </div>
    <!-- <div class='task-activity'>
      <h2>Recent Activity</h2>
      <ul>
        <li>
          <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
          <b>Andrea </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 10</time>
        </li>
          <li>
              <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
          <b>Karen </b> left a comment
          <time datetime="2021-11-24T20:00:00">Aug 10</time>
        </li>
         <li>
             <span class='task-icon task-icon--edit'><i class="fas fa-pencil-alt"></i></span>
          <b>Karen </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 11</time>
        </li>
          <li>
              <span class='task-icon task-icon--attachment'><i class="fas fa-paperclip"></i></span>
          <b>Andrea </b>uploaded 3 documents
          <time datetime="2021-11-24T20:00:00">Aug 11</time>
        </li>
         <li>
             <span class='task-icon task-icon--comment'><i class="fas fa-comment"></i></span>
          <b>Karen </b> left a comment
          <time datetime="2021-11-24T20:00:00">Aug 12</time>
        </li>
      </ul>
    </div> -->
  </aside>
</div>

   <!-- Modal TaskModal -->
   <div class="modal fade" id="TaskModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel" *ngIf="!isEdit">Add Task</h5>
               <h5 class="modal-title" id="staticBackdropLabel" *ngIf="isEdit">Edit Task</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body p-0">
               <!-- ... add code ..  -->
               <form [formGroup]="taskForm">
                 <div class="row m-2">
                   <div class="col-6">
                     <div class="form-group m-2">
                       <label for="text">Task Name</label>
                       <input type="text" class="form-control" placeholder="Enter Task Name" formControlName="taskName">
                     </div>
                     <div class="form-group m-2">
                       <label for="text">Description</label>
                       <textarea name="Description" class="form-control" rows="8" formControlName="taskDescription"></textarea>
                     </div>
                   </div>
                   <div class="col-6">
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Type</label>
                       </div>
                       <div class="dropdwon">
                         <p-dropdown placeholder="Select Type"  [options]="taskTypeList" optionLabel="taskName" formControlName="taskType"></p-dropdown>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Project</label>
                       </div>
                       <div class="dropdwon">
                         <p-dropdown [options]="projectList" (onChange)="selectProject($event)" placeholder="Select Project" optionLabel="projectName" formControlName="taskProject"></p-dropdown>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Assignee</label>
                       </div>
                       <div class="dropdwon">
                         <p-multiSelect [options]="employeeList" placeholder="Select Employee" formControlName="taskEmployee"
                         optionLabel="emaployeeName"></p-multiSelect>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Start Date</label>
                       </div>
                       <div class="dropdwon">
                         <p-calendar [style]="{'width':'100%'}" [showIcon]="true" formControlName="taskDate"></p-calendar>
                       </div>
                     </div>
                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">End Date</label>
                       </div>
                       <div class="dropdwon">
                         <p-calendar [style]="{'width':'100%'}" [showIcon]="true" formControlName="taskEndDate"></p-calendar>
                       </div>
                     </div>

                     <div class="form-group m-2">
                       <div class="title_Name">
                         <label for="text">Select Priority</label>
                       </div>
                       <div class="dropdwon">
                        <p-dropdown [options]="priority" formControlName="taskPriority" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Task priority">
                          <ng-template pTemplate="selectedItem">
                              <div class="flex align-items-center gap-2" *ngIf="taskForm?.value?.taskPriority?.name">
                                  <img [src]="taskForm?.value.taskPriority?.img"  style="width: 18px"/>
                                  <div>{{ taskForm?.value?.taskPriority?.name }}</div>
                              </div>
                          </ng-template>
                          <ng-template let-priority pTemplate="item" class="p-0">
                              <div class="flex align-items-center gap-2">
                                  <img [src]="priority.img" style="width: 18px"/>
                                  <div>{{ priority.name }}</div>
                              </div>
                          </ng-template>
                      </p-dropdown>
                       </div>
                     </div>
                    
                     
                  </div>
                 </div>
               </form>
                   <div class="modal-footer">                        
                           <ng-container *ngIf="!isEdit">
                               <button data-bs-dismiss="modal" aria-label="Close"  
                                   type="submit" (click)="submit()" class="btn btn-secondary submit">Submit</button>
                           </ng-container>
                           <ng-container *ngIf="isEdit">
                               <button data-bs-dismiss="modal" aria-label="Close"
                                   type="submit" (click)="submit()" class="btn btn-secondary submit">Update</button>
                           </ng-container>
                   </div>
               <!-- ... add code ..  -->
           </div>
       </div>
   </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="viewTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Task View</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row modal-des">
          <div class="col-md-8">
            <div class="tasknumber mb-2">
              <span class="show-taskNumber mb-4"><img [src]="taskViewList?.taskPriority.img" width="5%"
                  style="padding-right: 10px;" alt="">{{taskViewList?.taskNumber}}</span>
            </div>
            <div class="taskname mb-3">
              <h4>{{taskViewList?.taskTitle}}</h4>
            </div>
            <hr>
            <div class="taskdoc">
              <span>{{taskViewList?.taskDesc}}</span>
            </div>
          </div>
          <div class="col-md-4 left-side">
            <div class='task-view-card'>
              <h4>Status</h4>
              <span class="mt-2">{{taskViewList?.taskStatus}}</span>
            </div>
            <div class='task-view-card'>
              <h4>Assignee</h4>
              <span style="display: flex;">
                <div class="justify-content-center">
                  <p-avatarGroup styleClass="mb-0">
                      <ng-container *ngFor="let data of taskViewList?.avatarName; let i = index">
                        <p-avatar size="small" shape="circle" [style]="{'background-color': generateColor(data), 'font-weight' : 700}" [class.active]="selectedIndex == i"  (click)="onAvatarChange(data,i)">{{data?.toUpperCase()}}</p-avatar>
                      </ng-container>
                  </p-avatarGroup>
                </div>
              </span>
            </div>
            <div class='task-view-card'>
              <h4>Reporter</h4>
              <span style="display: flex;">
                <div class="justify-content-center">
                  <p-avatarGroup styleClass="mb-0">
                      <ng-container >
                        <p-avatar size="small" shape="circle">RI</p-avatar>
                      </ng-container>
                  </p-avatarGroup>
                </div>
              </span>
            </div>
            <div class='task-view-card'>
              <h4>Time Taking</h4>
              <span>{{taskViewList?.taskEndDate}}</span>
            </div>
            <div class='task-view-card'>
              <h4>Priority</h4>
              <span class="show-taskNumber"><img [src]="taskViewList?.taskPriority.img" width="10%"
                  style="padding-right: 10px;" alt="">{{taskViewList?.taskPriority.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>
  <p-confirmDialog header="Confirmation" ></p-confirmDialog>