<div class="row">
    <div class="col-4">
        <div class="card">
            <div>
                <h6>Total Technology</h6>
            </div>
            <div>
                <h4>{{technologyList <10 ? '0' + technologyList : technologyList}}</h4>
            </div>
            <div class="iconTec">
                <i class="ri-code-s-slash-line"></i>
            </div>
            <span class="iconbox"></span>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div>
                <h6>Total Project </h6>
            </div>
            <div>
                <h4>{{ projectList <10 ? '0' + projectList : projectList}}</h4>
            </div>
            <div class="iconPro">
                <i class="ri-article-line"></i>
            </div>
            <span class="iconboxPro"></span>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div>
                <h6>Total Employee</h6>
            </div>
            <div>
                <h4>{{emaployeeList <10 ? '0' + emaployeeList : emaployeeList}}</h4>
            </div>
            <div class="iconEmp">
                <i class="ri-user-2-line"></i>
            </div>
            <span class="iconboxEmp"></span>
        </div>
    </div>

</div>