
button{
    clip-path: polygon(85% 0, 100% 31%, 100% 100%, 84% 100%, 84% 93%, 66% 93%, 66% 100%, 13% 100%, 0 71%, 0 0);
    width: 150px;
    height: 52px;
    background: #f8ef00;
    border: none;
    font-size: 16px;
    font-weight: 700;
}


.folder {
    // clip-path: polygon(44% 11%, 51% 20%, 94% 20%, 94% 87%, 70% 87%, 34% 87%, 7% 87%, 7% 11%);
    background-color: red;
    height: 150px;
    width: 200px;
    // -webkit-clip-path: inset(10px round 80px 20px 30px 10px);
    // clip-path: inset(11px round 10px 20px 20px 30px);
    // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    // box-shadow: rgba(240, 46, 170, 0.4) 5px 5px;
     
}






