.card {
    // height: 145%;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h6 {
    margin: 10px;
    font-size: 18px;
    margin-top: 10px;
    padding: 4px;
    color: #878a99;
}

h4 {
    margin: 10px;
    font-size: 26px;
    margin-top: 10px;
    padding: 4px;
    color: #8f939f;
}

i {
    float: right;
    font-size: 20px;
    margin-right: 30px;
    color: black;
    position: absolute;
    left: 89.5%;
    bottom: 18%;
}

.iconbox {
    float: right;
    height: 21%;
    width: 10%;
    background-color: #e9f9ec;
    margin-left: 86%;

}

.iconboxPro {
    float: right;
    height: 21%;
    width: 10%;
    background-color: #E6F7FC;
    margin-left: 86%;
}

.iconboxEmp {
    float: right;
    height: 21%;
    width: 10%;
    background-color: #fef4e4;
    margin-left: 86%;

}

.ri-code-s-slash-line {
    color: #6ada7d;
}

.ri-article-line {
    color: #58caea;
}

.ri-user-2-line {
    color: #f7b84b;
}