<div class="sidebar-full-content">
    <div class="staticSidePart">
        <div class="logo" *ngIf="!employeeId">
            <img [src]="companyLogo" alt="">
        </div>
        <div *ngIf="employeeId" class="employee-name">
            <p-avatar size="large" shape="circle">{{companyLogo}}</p-avatar>
        </div>
        <ul class="nav-icon-content" >
            <li  class="nav-list-icon"  *ngFor="let item of menuIconList; let i=index">
                <div title="{{item.name}}" class="icon" routerLink="{{item.url}}" [ngClass]="{'icon-active' : i === iconActiveIndex}" (click)="iconActive(i,item.name)">
                    <!-- <img src="{{item.icon}}" alt=""> -->
                    <i class="{{item.icon}} icon-content"></i>
                </div>
            </li>
            <li  class="nav-list-icon">
                <div title="Logout" class="icon" (click)="iconActive( 0,'Logout')">
                    <!-- <img src="{{item.icon}}" alt=""> -->
                    <i class="ri-logout-box-r-line ri-lg icon-content"></i>
                </div>
            </li>
        </ul>    
    </div>
    
    <div class="sidenav-content">
        <div class="logo-name">
            <span>{{companyName}}</span>
        </div>
        <div class="submenuContent">
            <ul class="nav-list">
                <li class="nav-list-item" routerLinkActive="active" *ngFor="let item of subMenuList; let i=index">
                    <div class="subMenuHeader" routerLink="{{item.url}}">
                        <i></i>
                        <label title="{{item.name}}" class="ellipsis">{{item.name}}</label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>