<div class="container-fluid g-0">
    <!-- <p>{{sideNavStatus}}</p>
    <p>{{sideNavStatusClose}}</p> -->
    <app-thm-header [ngClass]="{'theam-header-open' : sideNavStatus}">
        <!-- -->
    </app-thm-header>
    <main>
        <app-thm-menubar [ngClass]="{'app-side-nav-open' : sideNavStatus}">
            <!-- [sideNavStatus]="sideNavStatus"    [ngClass]="{'app-side-nav-close' : sideNavStatusClose}"-->
        </app-thm-menubar>
        <div class="display-area p-3" [ngClass]="{'display-area-shrink' : sideNavStatus}">
            <!-- <app-setting></app-setting> -->
            <p-toast></p-toast>
            <router-outlet></router-outlet>
        </div>
    </main>
</div>